<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
  <div class="all">
    <div>
      <h1>今天要做什麼呢?</h1> 
     <form action="/add" method="post" >
      <input type="text" id="bar"  placeholder="New todo" name="addItem">
      <button class="btn">提交</button>
     </form>
    </div>
    <div>
      <h1>待完成</h1>
      <div class="list">
        <% items.forEach(function(item) {  %>
          <% if (!item.done) { %>
            <div class="line">
              <p><%= item.item %></p>
              <button id="done" class="btn btn-success" data-id=<%= item._id %>>完成</button>
              <button id="del" class="btn btn-danger" data-id=<%= item._id %>>刪除</button>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
    <div>
      <h1>完成囉</h1>
      <div class="list">
        <% items.forEach(function(item) {  %>
          <% if (item.done) { %>
            <div class="line">
              <p><%= item.item %></p>
              <button id="rec" class="btn" data-id=<%= item._id %>>復原</button>
            </div>
          <% } %>
        <% }); %>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
  <script src="/javascript/jquery-1.11.3.min.js"></script>
  <script src="/javascript/client.js"></script>
  </body>
</html>
